$light-color: #f4f4f4;
$dark-color: #16161d;
$half-dark-color: #16161d78;
$primary-color: #c053d3;
$half-primary-color: #c053d382;
$quarter-primary-color: #c053d350;
$body-font: 'Montserrat', sans-serif;