@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

@import 'config';
@import 'utilities';
@import 'buttons';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: $primary-color;
    box-shadow: 2px 4px 15px #c053d393;
    padding: 1.2em 12em;
    text-align: center;

    p {
        font-size: 1.5em;
        font-weight: 600;
        color: $light-color;
    }
}

body {
    background-color: $light-color;
    font-family: $body-font;
    line-height: 1.6;
}

.main-container {
    margin: 6em auto;
    padding: 0 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.secondary-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.2em;
}

.result-container {
    margin-top: 1em;
    display: none;

    p {
        font-size: 1.8em;
    }
}

#spinner {
    display: none;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 0.5em #c2c2c2;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

.bold-text {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

#again-btn {
    display: none;
}

.information {
    h2 {
        text-decoration: underline;
        margin-bottom: 0.75em;
        font-size: 2em;
    }
    background-color: $dark-color;
    padding: 2em;
    border-radius: 0.4em;
    color: $light-color;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    p {
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.list-item {
    list-style-type: none;
    list-style-position: inside;
    font-size: 1.5em;
}

.green {
    color: $green;
    display: inline-block;
    width: 50%;
}

.red {
    color: $red;
    display: inline-block;
    width: 50%;
}

.orange {
    color: $orange;
    display: inline-block;
    width: 50%;
}

@media (max-width: 992px) {
    nav {
        padding: 1.2em 4em;
    }

    .main-container {
        margin: 8em auto;
        padding: 0;
    }
    
    .secondary-container {
        width: 66%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 0.2em;
    }

    .result-container {
        display: none;
    }

    .spin::before {
        top: 70%;
      }
}




